<metal:overlay define-macro="info_overlay">
    <metal:form use-macro="task_plugin.getTemplate('common.html').macros.overlay_container">
        <metal:overlay_content fill-slot="overlay_content">
            <tal:pc metal:fill-slot="block1">
                <div class="taskmanager-overlay tile">
                    <h4>${options.labels['cdbtodo_task_type']} </h4>
                    <div class="taskmanager-overlay item">
                        <img src="${temp_var['icon']}">
                        <p>${temp_var['designation']}</p>
                    </div>
                </div>
                <metal:default_or_extension use-macro="valid_macro"
                                            tal:define="valid_macro extension_macro or overlay_template.macros.default_block1"/>
            </tal:pc>
            <tal:pc metal:fill-slot="block2">
                <div class="taskmanager-overlay tile" tal:condition="temp_var['desc']">
                    <h4>${options.labels['cdbtodo_overl_task_desc']} </h4>
                    <div class="taskmanager-overlay item">
                        <tal:items repeat="item temp_var['desc']">
                          <p tal:condition="not: repeat.item.end" class="block" style="margin: 0px">${item}</p>
                          <p tal:condition="repeat.item.end" class="block">${item}</p>  
                        </tal:items>
                    </div>
                </div>
                <div class="taskmanager-overlay tile" tal:condition="temp_var['have_proj']">
                    <h4>${temp_var['proj_desc']} </h4>
                    <div class="taskmanager-overlay item overflow">
                        <img src="${temp_var['proj_icon']}">
                        <a class="overlayWithTooltip block" title="${temp_var['proj_name']}" href="${temp_var['proj_url']}">
                            ${temp_var['proj_name']}
                        </a>
                    </div>
                </div>
                <div class="taskmanager-overlay tile" tal:condition="temp_var['have_proc']">
                    <h4>${temp_var['proc_desc']} </h4>
                    <div class="taskmanager-overlay item overflow">
                        <img src="${temp_var['proc_icon']}">
                        <a class="overlayWithTooltip block" title="${temp_var['proc_title']}" href="${temp_var['proc_url']}">
                            ${temp_var['proc_title']}
                        </a>
                    </div>
                </div>
                <div class="taskmanager-overlay tile" tal:condition="len(temp_var['atts'])>0">
                    <h4>${options.labels['cdbtodo_attachments']} </h4>
                    <tal:layout metal:use-macro="plugin_common_macros.cdbwf_briefcases">
                    </tal:layout>
                </div>
            </tal:pc>
        </metal:overlay_content>
    </metal:form>
</metal:overlay>

<metal:default_content define-macro="default_block1">
    <div class="taskmanager-overlay tile left">
        <h4>${options.labels['cdbtodo_status']} </h4>
        <div class="taskmanager-overlay item">
            <p id="status_text">--</p>
            <div class="btn-group status change">
                  <button class="btn dropdown-toggle" data-toggle="dropdown"
                      disabled="${'disabled' if not temp_var['is_login_user'] else None}"  onclick="myFunction(this)">
                      <span class="caret block"></span>
                  </button>
                  <ul class="dropdown-menu status block">
                      <li class="block">
                        <a id = "ok" class='block' onclick="cdb.elink.applications.TaskManager.statusEnableButtons(this)">
                            ${options.labels['cdbtodo_overl_eval_opt_ok']}
                        </a>
                    </li>
                    <li class="block">
                        <a id = "nok" class='block' onclick="cdb.elink.applications.TaskManager.statusEnableButtons(this)">
                            ${options.labels['cdbtodo_overl_eval_opt_nok']}
                        </a>
                    </li>
                    <li class="block" >
                        <a id = "onHold" class='block' style ='display:none' onclick="cdb.elink.applications.TaskManager.statusEnableButtons(this)">
                            On Hold
                        </a>
                    </li>
                    <li class="block">
                        <a id = "fwd" class='block' onclick="cdb.elink.applications.TaskManager.statusEnableButtons(this)"
                            tal:condition="temp_var['forward_label']">
                            ${temp_var['forward_label']}
                        </a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
	<script type = "text/javascript">
	function myFunction(self){
	
		saveOverlayData({"action": "onHold_check","value": "ok", "task_id": "${temp_var['task_obj'].ID()}", "comment":"ok" }, error, Success);function Success(data){
                                    
                                    var onhold = (data.msg)
									if (onhold == 'enable'){
									var block1 = $(self).closest('.taskmanager-overlay.block1');
									alert ($(block1.find(".onHold").val()))
									$(block1.find("#onHold")).show();
									
									}
                            }; 	
function error(data){
                                    cdb.elink.alertCDBMessage(data.msg);
                                };							
	
	}
	function saveOverlayData(aData, callBackOnError, callBackOnSuccess){
                            var stdPath = window.location.pathname;
                            var urlpath = stdPath + "/../overlayFunctionality"
                                $.ajax({
                                    url: urlpath,
                                    dataType: "json",
                                    type: "POST",
                                    async: false,
                                    data: ( aData),
                                    success: function (data, textStatus, jqXHR) {
                                        if (data.success){
                                            callBackOnSuccess(data);
                                        }
                                        else{
                                           callBackOnError(data);
                                        }
                                    }
                                });
                        }
	
	
	</script>
    <div class="taskmanager-overlay tile right"
         tal:condition="temp_var['is_login_user'] and (temp_var['lock_allowed'] or temp_var['unlock_allowed'])">
        <img onclick="cdb.elink.applications.TaskManager.reserveTask(this)"
                    titlel="${options.labels['cdbwf_unlock_task']}"
                    titleu="${options.labels['cdbwf_lock_task']}"
                    title="${options.labels['cdbwf_unlock_task']
                        if temp_var['unlock_allowed'] else options.labels['cdbwf_lock_task']}"
                    id="${temp_var['task_obj'].ID()}"
                    srcl="${options.localres}cdbwf_task_locked.png"
                    srcu="${options.localres}cdbwf_task_unlocked.png"
                    src="${options.localres+'cdbwf_task_locked.png'
                        if temp_var['unlock_allowed'] else options.localres+'cdbwf_task_unlocked.png'}">
        <h4>${options.labels['cdbtodo_reserved']} </h4>
    </div>
    <div class="no-float"></div>
    <div class="taskmanager-overlay tile">
        <h4>${options.labels['cdbtodo_reason']} </h4>
        <div class="taskmanager-overlay item">
            <textarea class="taskmanager-overlay textarea" disabled="disabled"></textarea>
        </div>
        <div class="taskmanager-overlay item">
            <div class="btn-group status">
                <button id="${temp_var['task_obj'].ID()}" class="btn btn-mini status speichern" disabled="disabled" onclick='cdb.elink.applications.TaskManager.statusSave(this)'>
                      ${options.labels['cdbtodo_modal_save_btn']}
                  </button>
              </div>
              <div class="btn-group status">
                  <button class="btn btn-mini status abbrechen" disabled="disabled" onclick='cdb.elink.applications.TaskManager.statusCancel(this)'>
                      ${options.labels['cdbtodo_modal_cancel_btn']}
                  </button>
            </div>
        </div>
    </div>
</metal:default_content>





