<metal:briefcases define-macro="cdbwf_briefcases">
  <div class="cdbwf-briefcases">
    <div class="cdbwf-briefcase"
         tal:repeat="briefcase temp_var['atts']">
      <div><img src="${briefcase.icon}" alt="" style="margin-right: 5px;"/>${briefcase.name}</div>
      <div class="briefcase-content" style="padding-left: 16px;">
        <tal:items repeat="item briefcase['content']">
          <div class="pull-right">
            <metal:opmenu use-macro="global_plugins['components'].macros.operations_dropdown"
                          tal:define="oplist item[1].operations" />
          </div>
          <div class="taskmanager-overlay item overflow">
            <img src="${item[1].icon}">
            <a class="overlayWithTooltip block" title="${item[1].name}" href="${item[1].url}">
              ${item[1].name}
            </a>
          </div>
        </tal:items>
      </div>
    </div>
  </div>
</metal:briefcases>

<metal:runop define-macro="run_operation">
  <script type="text/javascript">
  function cdbwfTaskRunOperation(opURL) {
    window.open(opURL, '_self');
    cdb.elink.reloadPage(true);
  }
  </script>
</metal:runop>

<metal:overlay define-macro="overlay_container"
               tal:define="extension_macro task_plugin.getTemplate(temp_var['task_extension_macro']) if temp_var['task_extension_macro'] else None;
                           plugin_common_macros task_plugin.getTemplate('common.html').macros">
  <metal:opmacro use-macro="plugin_common_macros.run_operation" />
  <metal:form use-macro="templates['components.html'].macros.overlay">
    <macro:overlay_content define-slot="overlay_content" />
  </metal:form>
</metal:overlay>

